body {
  margin: 0;
  padding-bottom: 2rem;
  background-color: #121212;
}
a {
  text-decoration: none;
}
a, p, h1, h2, h3, h4, h5, h6, ul, li, input, div  {
  margin: 0;
  padding: 0;
  font-family: "Open sans";
  color: #f5f5f5;
}
main {
  padding-block: 2rem;
  padding-inline:10rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2rem;
  position: relative;
}

.input-container {
  width: 100%;
  background-color: #202020;
  border-radius: 2rem;
  padding-inline: 1.5rem;
  height: 2.5rem;
  border: none;
  font-size: 1rem;
}
.input-container:focus-visible {
  outline: none;
}

.input-container::placeholder {
  font-size: 1rem;
}
.search-browse {
  display: flex;
  align-items: center;
  gap: 5rem;
  flex: 1;
}
.featured-container {
    max-width: 100%;
  margin-bottom: 1rem;
  position: relative;
}
.featured-img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    filter: brightness(0.8);
    object-fit: cover;
}
.highlight-container {
  max-width: 100%;
  margin-bottom: 1rem;
  position: relative;
}
.highlight-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    left: 4rem;
    top: 8rem;
    width: 45%;
    height: 100%;
    padding-block: 2rem;
}
.highlight-logo {
    width: 18rem;
    height: 13rem;
}
.highlight-price {
    font-size: 1.35vw;
    margin-block: 1rem;
}
.hightlight-price > strong {
    font-size: 1.5vw;
}
.buy-highlight {
    text-align: center;
    background-color: white;
    color: #121212;
    padding-inline: 2rem;
    padding-block: 1rem;
    max-width: 8rem;
    font-weight: bold;
    border-radius: 4px;
}
.highlight-discounts {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.highlight-discounts > p {
    font-size: 1.5vw;
    font-weight: bold;
}
.highlight-price.disc {
    color: #f1f1f1; text-decoration: line-through;
    font-weight: 400;
    font-size: 1.35vw;
}
.search-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  position: sticky;
  padding-block:2rem;
  margin-block: -2rem;
  top: 0;
  z-index: 100;
}
.search-section > form {
  width: 100%;
}
.wishlib {
  display: flex;
  gap: 2rem;
  flex: 1;
  justify-content: flex-end;
}
.wishlib > a {
  font-size: 1.25vw;
}
.featured-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.featured-top > p {
  font-size: 1.75vw;
}
.featured-top > a {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-inline: 12px;
  padding-block: 4px;
  font-size: 1vw;
}
.featured-games {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.featured-games > a {
  width: 100%;
}
.featured-game {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 100%;
  cursor: pointer;
}
.featured-game-title {
  font-size: 1.125vw;
  transition: text-decoration 0.15s ease-in-out;
}
.featured-game-title:hover {
  text-decoration: underline;
}
.featured-game-poster {
  max-width: 100%;
  max-height: 100vh;
  border-radius: 4px;
  transition: opacity 0.15s ease-in-out;
}
.featured-game-poster:hover {
  opacity: 0.75;
}
.featured-game > p {
  text-wrap: wrap;
}
.discount-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.discount-prices > p, .featured-game-price {
  font-size: 1.125vw;
}
.featured-game-discounted, .this-game-is-free {
  text-decoration: line-through;
}
.discount-percent {
  background-color: #0074e4;
  padding-inline: 8px;
  padding-block: 4px;
  font-size: 1vw;
  border-radius: 4px;
}
.free-container {
  margin-bottom: 1rem;
  background-color: #2a2a2a;
  padding-inline: 2rem;
  padding-block: 2rem;
}
.free-games {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.free-games > p {
  font-size: 1.5vw;
}
.free-icon {
  width: 2.5rem;
  height: 2.5rem;
  filter: invert(1);
}
.img-container {
  position: relative;
  max-height: 100%;
}
.free-now {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0078f2;
  padding-block: 0.5rem;
  z-index: 10;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.free-now > p {
  font-weight: bold;
}
.price-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.this-game-is-free {
  text-wrap: nowrap;
}
.categorized {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.category-games-container {
  flex: 1;
  border-right: 1px solid #2a2a2a;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}
.top-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.top-section > p {
  font-size: 1.5vw;
}
.view-more {
  font-size: 0.875vw;
  border: 1px solid #ccc;
  padding-inline: 12px;
  padding-block: 6px;
  border-radius: 4px;
  transition: all 0.15s ease-in-out;
}
.view-more:hover {
    background-color: #2a2a2a;
    color: white;
}
.game {
  display: flex;
  height: 5rem;
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  border-radius: 16px;
  gap: 1rem;
  align-items:center;
    cursor: pointer;
}

.game:hover {
  background-color: #2a2a2a;
}
.game-image {
  height: 100%;
  border-radius: 4px;
}
.game-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.game-info > p {
  font-size: 1vw;
}
.discounted-list {
  font-size: 0.8vw;
  padding-inline: 0.45rem;
  padding-block: 0.35rem;
  background-color: #0074e4;
  border-radius: 4px
}
.content-container {
    margin-top: 1rem;
}
